
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bd-danger-bg);
    --bs-popover-header-bg: var(--bd-danger-bg);
    --bs-popover-header-color: var(--bs-danger);
    --bs-popover-body-bg: var(--bs-secondary-bg);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }